<header ng-include = " 'header.html' "></header>
<div style="width:40%;  margin: 10px auto 0 auto;">
    <div  style=" margin-bottom:15px; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <h2>Change your password</h2>
    </div>
    <div style=" margin-bottom:10px; padding:12px;font: size 16px; ; text-align: center; color: red; " 
    ng-show="errorMessageCurrentPass != null">{{errorMessageCurrentPass}} try again...</div>
    <div class="userContent" style=" border-radius: 10px;
                                                 background-color:rgb(245, 245, 245);">
        <div>
        <form name="changePassword" ng-submit="change()" ng-model="hello" novalidate>
            <div>
        <label for="emailAddress" style="margin-left: 20px ;">Current Password</label>
                <input type="password" ng-model= "currentPassword" 
                        value="currentPassword" name="currentPassword" style="margin-left: 13px; border-radius:5px;" required/>
            <div>

            <div style="text-align: center; padding-top: 12px; padding-bottom: 20px;">
                ....................................................................
            </div>
            <input type="password" placeholder="New Password" ng-model= "newPassword" ng-pattern= "/^(?=.*[0-9])[a-zA-Z0-9 .!@#$%^&*]{5,16}$/" 
                    value="newPassword" name="newPassword" style="margin-left: 13px; border-radius:5px;" required/>
            <div ng-show="changePassword.newPassword.$touched && changePassword.newPassword.$error.pattern" 
                        class="red" style="margin-left: 22px ; margin-bottom:0px; margin-right:25%; font-size: 12px; width: 90%;" >
                        Password should contain atleast 1-number (min-length: 4)
            </div><br>
            
            <div style="padding-bottom: 4px;">
                <input ng-model="confirmPassword" type="password"
                      ng-required="true"
                      placeholder="Confirm Password"
                      id="confirmPassword" 
                      name="confirmPassword"
                      compare-to="newPassword"
                      style="margin-left: 13px; border-radius:5px; margin-top: 0px;"/>
              <div ng-show= "changePassword.confirmPassword.$error.compareTo && changePassword.confirmPassword.$dirty && changePassword.confirmPassword.$touched "
                  class="red" style="width: 90%; font-size: 12px; margin-left: 22px;" ng-model="hello">
                  Passwords do not match
              </div>            
          </div>
       
            <input type="submit" name="submit" value="Set New Password"
                     ng-disabled="changePassword.$invalid && changePassword.$error"
                     style="width:60%; border-radius:5px">
          </form>
        </div>
        <div style="text-align: center; margin-top:10px;" class="jumpLink">
            <a href="" ng-click="cancel()" style=" font-size:14px; color: rgb(255, 102, 0);"> Cancel </a>
        </div>
    </div>
    </div>
    